@charset "UTF-8";
/* RESET */
/* ----------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.clear {
	clear:both;
}


/* LAYOUT */
/* ----------------------------------------- */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	font-size:13px;
	line-height: 17px;
	color:#000;
}

.contact {
	background-image: none;
	background-color:#e9e9e9;
}

a, a:visited, a:active {
	color:#709399;
	text-decoration: none;
}

a:hover {
	color:#709399;
	text-decoration: underline;
}

/* DOSSIER BACKGROUND */
/* ----------------------------------------- */

#wrapper {
	width:969px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
}

.wrapper-top {
	width:969px;
	height:19px;
	margin:0 auto;
	background-image:url(../images/btop.jpg);
	background-repeat:no-repeat;
}

.wrapper-mid {
	width:969px;
	margin:0 auto;
	background-image:url(../images/bmid.jpg);
	background-repeat: repeat-y;
	padding-bottom:40px;
}

.wrapper-bottom {
	width:969px;
	height:22px;
	padding:0;
	margin:0 auto;
	background-image:url(../images/bbottom.jpg);
	background-repeat:no-repeat;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image:url(../images/ptop.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(../images/pmid.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.paper-bottom {
	width:828px;
	height:18px;
	margin:0 auto;
	background-image:url(../images/pbottom.jpg);
	background-repeat:no-repeat;
}

/* SECTIONS */
/* ----------------------------------------- */

.section {
	width:720px;
	display: block;
	padding-top:55px;
	clear: both;
	margin-left:4px;
}

.section:first-child {
	padding-top:0;
}

.section .subsection {
	overflow: hidden;
	display:block;
	padding-top:32px;
}

.section h1  {
	width:345px;
	font-size:42px;
	line-height:42px;
	color:#315a60;
	margin-bottom:3px;
	clear:both;
}

.section h1 span {
	font-size:21px;
	display:block;
	color:#315a60;
	margin-top:-5px;
}

.section h2, .section h3, .section h4, .section h5, .section h6 {
	display:inline-block;
	width:175px;
	text-align:right;
	padding:0;
	margin:0;
}

.section h2 {
	font-size:22px;
	color:#315a60;
}

.section h3 {
	font-size: 13px;
	color:#709399;
}

.section h4 {
	font-size: 11px;
	color:#709399;
}

.section h5 {
	font-size: 10px;
	color:#709399;
}

.section h6 {
	font-size: 9px;
	color:#709399;
}

.section .content {
	display:inline-block;
	vertical-align:top;
	width:500px;
	margin-left:40px;
}

.section p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

.section em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}

.section ol {
	float:right;
	width:500px;
	margin-left:40px;
	list-style: decimal;	
}

.section ol li {
	width:500px;
	list-style-type: decimal;
	list-style-position: inside;
}

.section dl {
	float:right;
	width:500px;
	margin-left:40px;
}

.section dt {
	float:left;
	display: block;
	width:500px;
		color:#709399;
}

.section dd {
	float:left;
	display: block;
	width:480px;
	text-indent:20px;
}

.section ul.unordered {
	float:right;
	width:500px;
	margin-left:40px;
	
}

.section ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

.section ul.info {
	list-style-type: none; 
}

.section ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

.section ul.skills {
	margin:0;
	padding:0;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
}

.section ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}

.section ul.works {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}

.section ul.works li {
	margin:0;
	padding:0;
	float:left;
}

.section ul.works li img {
	padding:4px;
	background-color:#fff;
	width:95px;
	height:95px;
	border:1px solid #b7c9cc;
	margin-right:20px;
	margin-bottom:16px;
}

.section ul.works li img:hover {
	border:1px solid #315a60;
	cursor: pointer;
}

.section img.portrait {
	background-image:url(../images/frame.jpg);
	background-repeat: no-repeat;
	width:109px;
	height:109px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;
}


/* SELF INFORMATION */
/* ----------------------------------------- */

.section .self {
	width:345px;
	float:left;
	padding-top:5px;
	margin-left:70px;
	margin-bottom:15px;
}

.section .self ul {
	padding-top: 10px;
}

.section .self ul li.ad {
	background-image:url(../images/icn-ad.gif);
}

.section .self ul li.mail {
	background-image:url(../images/icn-mail.gif);
}

.section .self ul li.tel {
	background-image:url(../images/icn-tel.gif);
}

.section .self ul li.web {
	background-image:url(../images/icn-web.gif);
}

.section .self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.social {
	width:135px;
	float:right;
	padding-top:10px;
}

.social ul {
	list-style: none;
}

.social ul li {
	float:left;
	width:21px;
	height:24px;
	margin:0;
	padding:0;
	margin-left:6px;
}